*/bin
*/obj
*/node_modules
*/.vscode/chrome
CarListAPI.sln.DotSettings.user
.idea/*
CarList.App/build/
.idea/.idea.CarListAPI/.idea/workspace.xml
.idea/httpRequests/http-requests-log.http
.idea/.idea.CarListAPI/.idea/contentModel.xml
.idea/.idea.CarListAPI/riderModule.iml
